<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="content-center">
            <div class="photo-container">
                <img src="assets/img/ryan.jpg" alt="">
            </div>
            <h3 class="title">Your Name</h3>
            <p class="category">Software Developer</p>
            <div class="content">
                <div class="social-description">
                    <h2>1,619</h2>
                    <p>Contributions</p>
                </div>
                <div class="social-description">
                    <h2>28</h2>
                    <p>Repostories</p>
                </div>
                <div class="social-description">
                    <h2>4</h2>
                    <p>Organizations</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="https://github.com" target="_blank" class="btn btn-default btn-round btn-lg btn-icon"><i
                        class="fa fa-github"></i></a><a href="https://www.linkedin.com" target="_blank"
                    class="btn btn-default btn-round btn-lg btn-icon"><i class="fa fa-linkedin"></i></a>
            </div>
            <h3 class="title">About me</h3>
            <h5 class="description text-center">I'm a junior software developer who has recently graduated from <a
                    href="https://www.codefiworks.com/codelabs/">Code Labs One</a> which focused on developing the
                front-end with the framework Angular and Typescript as a development language. In addition to this we
                used node.js to serve our applications in a production setting using Heroku as our service provider for
                deployments and github as our source control. I'm also currently enrolled in Code Labs Two which is the
                backend portion of the Full-Stack course in which I will learn Ruby, Ruby on Rails, PostgreSQL, and
                Rails API only technologies.</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">Education</h4>
                    <div class="education-container mt-4">
                        <div class="row">
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Code Labs One</p>
                                <p class="flex ml-4">September 8, 2021</p>
                            </div>
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Southeast Missouri State University<br>
                                    <span class="text-small">B.S. Technology Management</span><br>
                                    <span class="text-small">3.7 GPA</span>
                                </p>
                                <p class="flex ml-4">2009 - 2014</p>
                            </div>
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Marine Mechanics Institute<br>
                                    <span class="text-small">Marine Technician Certification</span><br>
                                    <span class="text-small">3.9 GPA</span>
                                </p>
                                <p class="flex ml-4">2002 - 2004</p>
                            </div>
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Jackson Senior Highschool</p>
                                <p class="flex ml-4">Class of 2001</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">Employment</h4>
                    <div class="education-container mt-4">
                        <div class="row">
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Company: <span class="ml-2">Codefi Labs</span><br>
                                    Position: <span class="ml-2">Senior Software Devloper</span></p>
                                <p class="flex ml-4">Oct 2020 - Present</p>
                            </div>
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Company: <span class="ml-2">Codefi Labs</span><br>
                                    Position: <span class="ml-2">Full-Stack Software Devloper</span></p>
                                <p class="flex ml-4">Mar 2017 - Oct 2020</p>
                            </div>
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Company: <span class="ml-2">Red Letter Communications</span><br>
                                    Position: <span class="ml-2">Team STIHL Web Developer</span></p>
                                <p class="flex ml-4">Mar 2016 - Mar 2017</p>
                            </div>
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Company: <span class="ml-2">Woodland Companies</span><br>
                                    Position: <span class="ml-2">Web Designer/Front-End Developer</span></p>
                                <p class="flex ml-4">Jan 2015 - Jan 2017</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">Contact Info</h4>
                    <div class="education-container mt-4">
                        <div class="row">
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Email:</p>
                                <p class="flex ml-4">zach@codefiworks.com</p>
                            </div>
                            <div class="col-12 d-inline-flex justify-content-between">
                                <p class="flex">Phone:</p>
                                <p class="flex ml-4">(573) 979-9106</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>