<div class="page-header clear-filter">
    <div _ngcontent-uen-c154="" data-rellax-speed="-8" class="page-header-image rellax-header" style="background-image: url('assets/img/bg31.jpg'); transform: translate3d(0px, 0px, 0px);"></div>
    <div class="rellax-text-container rellax-text" style="transform: translate3d(0px, 6px, 0px);">
        <h1 data-rellax-speed="-2" class="h1-seo">Your Name</h1>
    </div>
    <h3 data-rellax-speed="-1" class="h3-description rellax-text" style="transform: translate3d(0px, 4px, 0px);">
        Software Development Portfolio</h3>
    <h3 data-rellax-speed="-1" class="h3-description rellax-text mt-5 top-social-links"
        style="transform: translate3d(0px, 4px, 0px);"><a href="https://github.com" target="_blank"
            class="text-white"><i class="fa fa-github mr-2"></i></a><a href="https://www.linkedin.com" target="_blank"
            class="text-white"><i class="fa fa-linkedin ml-2"></i></a></h3>
</div>