<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['']">
                Zach Young Portfolio
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about-me']">
                      <i class="now-ui-icons design_app"></i>
                      <p>About Me</p>
                    </a>
                </li>
                <a ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                      <i class="now-ui-icons design_image" aria-hidden="true"></i>
                      <p>Projects</p>
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [routerLink]="['/projects/venku']"><i class="now-ui-icons business_bulb-63"></i> Venku</a>
                        <a class="dropdown-item" [routerLink]="['/projects/pumptrakr']"><i class="now-ui-icons business_bulb-63"></i> Pumptrakr</a>
                        <a class="dropdown-item" [routerLink]="['/projects/youth-coding-league']"><i class="now-ui-icons business_bulb-63"></i> Youth Coding League</a>
                        <a class="dropdown-item" [routerLink]="['/projects/hodlit']"><i class="now-ui-icons business_bulb-63"></i> Hodlit</a>
                        <a class="dropdown-item" [routerLink]="['/projects/code-labs']"><i class="now-ui-icons business_bulb-63"></i> Code Labs</a>
                        <a class="dropdown-item" [routerLink]="['/projects/upsquad']"><i class="now-ui-icons business_bulb-63"></i> UpSquad</a>
                    </div>
                </a>
            </ul>
        </div>
    </div>
</nav>
