<div class="wrapper">
    <!-- <app-header-one class="header-one"></app-header-one> -->
    <!-- <app-header-two class="header-two"></app-header-two> -->
    <!-- <app-header-three class="header-three"></app-header-three> -->
    <app-header-four class="header-four"></app-header-four>
    <div data-background-color="dark-red" class="section section-components">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="text-center title">Featured Projects <br><small class="description">Talk is cheap,
                            show me the code.</small></h2>
                    <h5 class="text-center description">This a small collection of the
                        projects that I've worked on that I'm most proud of.</h5>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="card-container first-card">
                        <div class="card-component">
                            <a target="_blank" ng-reflect-target="_blank" ng-reflect-router-link="/components"
                                href="#/components">
                                <div class="front"><img src="assets/img/portfolio/venku-home.png"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-container second-card">
                        <div class="card-component"><a target="_blank" ng-reflect-target="_blank"
                                ng-reflect-router-link="/components" href="#/components">
                                <div class="front"><img src="assets/img/portfolio/pumptrakr-home.png"></div>
                            </a></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-container third-card">
                        <div class="card-component"><a target="_blank" ng-reflect-target="_blank"
                                ng-reflect-router-link="/sections" href="#/sections">
                                <div class="front"><img src="assets/img/portfolio/ycl-home.png"></div>
                            </a></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-container fourth-card">
                        <div class="card-component"><a target="_blank" ng-reflect-target="_blank"
                                ng-reflect-router-link="/examples/productpage" href="#/examples/productpage">
                                <div class="front"><img src="assets/img/portfolio/hodlit-home.png"></div>
                            </a></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-container fifth-card">
                        <div class="card-component"><a target="_blank" ng-reflect-target="_blank"
                                ng-reflect-router-link="/examples/productpage" href="#/examples/productpage">
                                <div class="front"><img src="assets/img/portfolio/code-labs-home.png"></div>
                            </a></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-container sixth-card">
                        <div class="card-component"><a target="_blank" ng-reflect-target="_blank"
                                ng-reflect-router-link="/examples/productpage" href="#/examples/productpage">
                                <div class="front"><img src="assets/img/portfolio/upsquad-home.png"></div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-basic-components">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-7 ml-auto mr-auto">
                    <h2 class="title">Skills, Methodologies, Frameworks, and Languages</h2>
                    <h6 class="category">Skills</h6>
                    <ul class="list-unstyled">
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Front-End Development</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Back-End Development</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Devops</li>
                    </ul>
                    <h6 class="category">Methodologies</h6>
                    <ul class="list-unstyled">
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> SCRUM</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> KANBAN</li>
                    </ul>
                    <h6 class="category">Frameworks</h6>
                    <ul class="list-unstyled">
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Angular 2-12</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Rails 4-6</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Node.js (Express &amp; Hapi)</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Dotnet Core 3.1</li>
                    </ul>
                    <h6 class="category">Languages</h6>
                    <ul class="list-unstyled">
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Typescript</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Javascript</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> C#</li>
                        <li><i class="now-ui-icons ui-1_check text-primary"></i> Ruby</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 text-center pt-5">
                    <h1><i class="fa fa-code mt-5" style="font-size: 22.8rem;"></i></h1>
                </div>
            </div>
        </div>
    </div>
    <div data-background-color="black" class="section section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="image-container"><img data-rellax-speed="1"
                            src="assets/img/presentation-page/content1.jpg"
                            class="img img-raised rounded img-comments rellax"
                            style="transform: translate3d(0px, 193px, 0px);"></div>
                </div>
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="section-description">
                        <h2 class="title">Content Areas</h2>
                        <h6 class="category">For Areas that Need More Space</h6>
                        <h5 class="description">We took into consideration multiple use cases
                            and came up with some specific areas for you. If you need elements such as tables,
                            comments, description areas, tabs and many others, we've got you covered. They're
                            beautiful and easy to use for the end user navigating your website. </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-background-color="gray" class="section section-sections">
        <div class="container">
            <div class="col-md-8 ml-auto mr-auto mb-5">
                <div class="section-description text-center">
                    <h2 class="title">Tutorials you may love</h2>
                    <h5 class="description"> I was told early on within my career that
                        software development is a continually learning process and I have found that statement to be
                        very true. These are some of the most recent tutorials, articles, and blogs about software
                        development that I have been reading up on.</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"><a target="_blank"
                        href="https://netbasal.com/make-your-build-faster-in-angular-v12-ca041b37946e"><img
                            src="https://miro.medium.com/max/1400/1*J3PV8YGpdZJSMBbapL-Mbw.png"
                            alt="Make Your Build Faster In Angular V12"></a></div>
                <div class="col-md-3"><a target="_blank"
                        href="https://netbasal.com/make-your-build-faster-in-angular-v12-ca041b37946e"><img
                            src="https://miro.medium.com/max/1400/1*J3PV8YGpdZJSMBbapL-Mbw.png"
                            alt="Make Your Build Faster In Angular V12"></a></div>
                <div class="col-md-3"><a target="_blank"
                        href="https://netbasal.com/make-your-build-faster-in-angular-v12-ca041b37946e"><img
                            src="https://miro.medium.com/max/1400/1*J3PV8YGpdZJSMBbapL-Mbw.png"
                            alt="Make Your Build Faster In Angular V12"></a></div>
                <div class="col-md-3"><a target="_blank"
                        href="https://netbasal.com/make-your-build-faster-in-angular-v12-ca041b37946e"><img
                            src="https://miro.medium.com/max/1400/1*J3PV8YGpdZJSMBbapL-Mbw.png"
                            alt="Make Your Build Faster In Angular V12"></a></div>
            </div>
            <div class="row pt-4">
                <div class="col-md-3"><a target="_blank"
                        href="https://netbasal.com/make-your-build-faster-in-angular-v12-ca041b37946e"><img
                            src="https://miro.medium.com/max/1400/1*J3PV8YGpdZJSMBbapL-Mbw.png"
                            alt="Make Your Build Faster In Angular V12"></a></div>
                <div class="col-md-3"><a target="_blank"
                        href="https://netbasal.com/make-your-build-faster-in-angular-v12-ca041b37946e"><img
                            src="https://miro.medium.com/max/1400/1*J3PV8YGpdZJSMBbapL-Mbw.png"
                            alt="Make Your Build Faster In Angular V12"></a></div>
                <div class="col-md-3"><a target="_blank"
                        href="https://netbasal.com/make-your-build-faster-in-angular-v12-ca041b37946e"><img
                            src="https://miro.medium.com/max/1400/1*J3PV8YGpdZJSMBbapL-Mbw.png"
                            alt="Make Your Build Faster In Angular V12"></a></div>
                <div class="col-md-3"><a target="_blank"
                        href="https://netbasal.com/make-your-build-faster-in-angular-v12-ca041b37946e"><img
                            src="https://miro.medium.com/max/1400/1*J3PV8YGpdZJSMBbapL-Mbw.png"
                            alt="Make Your Build Faster In Angular V12"></a></div>
            </div>
        </div>
    </div>
    <div data-background-color="black" class="section section-icons">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <h2 class="title">Custom Icons</h2>
                    <h5 class="description"> Now UI Kit PRO comes with 100 custom demo icons
                        made by our friends from <a href="https://nucleoapp.com/?ref=1712"
                            target="_blank">NucleoApp</a>. The official package contains over 20.729 icons which are
                        looking great in combination with Now UI Kit PRO. Make sure you check all of them and use
                        those that you like the most. </h5><br><a target="_blank"
                        class="btn btn-primary btn-round btn-lg" ng-reflect-target="_blank"
                        ng-reflect-router-link="/examples/nucleoicons" href="#/examples/nucleoicons">View Demo
                        Icons</a><a href="https://nucleoapp.com/?ref=1712" target="_blank"
                        class="btn btn-outline-primary btn-round btn-lg">View All Icons</a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="section features-7 section-image" style="background-image: url('assets/img/bg51.jpg');">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="col-sm-12">
                        <div class="info info-horizontal">
                            <div class="icon"><i class="now-ui-icons business_money-coins"></i></div>
                            <div class="description">
                                <h5 class="info-title">Save Time &amp; Money</h5>
                                <p class="description">Creating your design from scratch with
                                    dedicated designers can be very expensive.Using Now UI Kit PRO you don't have to
                                    worry about customising the basic Bootstrap 4 design or its components.</p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon"><i class="now-ui-icons text_bold"></i></div>
                            <div class="description">
                                <h5 class="info-title">Bootstrap 4 &amp; Flexbox</h5>
                                <p class="description">It is built over Bootstrap 4, it's
                                    fully responsive and has all the benefits of the flexbox for the layout, grid
                                    system and components. This is a huge advantage when you work with columns.</p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon"><i class="now-ui-icons education_paper"></i></div>
                            <div class="description">
                                <h5 class="info-title">Fast Prototype</h5>
                                <p class="description">Using Now UI Kit PRO you can create
                                    hundreds of components combinations within seconds and present them to your
                                    client. You just need to change some classes and colors.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-container"><img src="assets/img/venku-ipad-home.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>