<div class="wrapper">
    <div class="page-header clear-filter">
        <div data-rellax-speed="-8" class="rellax-header rellax-header-sky"
            style="transform: translate3d(0px, 22px, 0px);">
            <div class="page-header-image"
                style="background-image: url('assets/img/presentation-page/nuk-pro-back-sky.jpg');"></div>
        </div>
        <div data-rellax-speed="0" class="rellax-header rellax-header-buildings"
            style="transform: translate3d(0px, 0px, 0px);">
            <div class="page-header-image page-header-city"
                style="background-image: url('assets/img/presentation-page/nuk-pro-buildings.png');"></div>
        </div>
        <div class="rellax-text-container rellax-text" style="transform: translate3d(0px, 6px, 0px);">
            <h1 data-rellax-speed="-2" class="h1-seo">Zach Young</h1>
        </div>
        <h3 data-rellax-speed="-1" class="h3-description rellax-text" style="transform: translate3d(0px, 4px, 0px);">
            Software Development Portfolio</h3>
        <h3 data-rellax-speed="-1" class="h3-description rellax-text mt-5 top-social-links"
            style="transform: translate3d(0px, 4px, 0px);"><a href="https://github.com/zoodigital7" target="_blank"
                class="text-white"><i class="fa fa-github mr-2"></i></a><a
                href="https://www.linkedin.com/in/zach-young-7a439b93/" target="_blank" class="text-white"><i
                    class="fa fa-linkedin ml-2"></i></a></h3>
    </div>
</div>